.box.wide.admin_stories_index
  .legend
    = t('.title')
  %table.data.zebra{ cellspacing: "0", width: "100%" }
    %tr
      %th{ width: "8%" }
        =simple_form_for(@search, url: admin_stories_path, method: :get ) do |f|
          = f.input :state_eq, label: false, as: :select,  input_html: { onchange: "this.form.submit()" }, collection: {t('.table.state.all') => nil, t('.table.state.new') => 'new', t('.table.state.published') => 'published'}, required: false, selected: @search_params[:state_eq]
          %noscript
            =f.submit
      %th{ width: "28%" }=t('.table.title')
      %th{ width: "25%" }=t('.table.tags')
      %th{ width: "23%" }=t('.table.creator')
      %th{ width: "16%"}=t('table.actions')
    - @stories.each do |story|
      %tr{ id: "story-#{story.id}" }
        = render partial: 'web/admin/stories/table_fields', locals: { story: story }
